*{
<<<<<<< HEAD
  margin: 0;
  padding: 0;

}
body{
  background-color: black;
  color: white;
  
}
#ki{
  padding:10px 20px;
  font-size: 20px;
  background-color: blanchedalmond;
  color: black;
  border-radius: 10px;
  border: 2em;
  display: flex;
  flex-direction: column;
  margin: 10px;
 margin: 200px auto;
  
   }
   #ki:hover{
    color: red;
    background-attachment: fixed;
    background-color: rgb(41, 38, 38);
   }
   h1{
    text-align: center;
    margin-top: 50px;
    text-transform: capitalize;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
   }
=======
    font-family: Arial, Helvetica, sans-serif;
}


.child{
    border:0px solid black;
    padding: 20px;
    box-shadow: 0 0 10px 0.1px black;
   border-radius: 5px;
   width: 75%;
   display: flex;
   justify-content: space-between;
   
}
select{
    padding: 5px;
    width: 180px;
    box-shadow: 0 0 2px 0.1px black;
    border: 2em;
    border-radius: 8px;
}
input{
    border:none;
    box-shadow: 0 0 2px .1px black;
    border-radius: 5px;
    padding: 7px;
}
button{
    margin-top: 20px;
    width: 180px;
    border-radius: 5px;
    background-color: rgb(22, 119, 199);
    color: white;
    font-size: 12px;
    border:2em;
    padding: 8px;
}
.side{
    /* border: 1px solid black; */
    width: 100px;
    /* background-color: red; */
    width: 60%;
    height: 20%;
}
table{
    border: none;
    border:2em;
    box-shadow: 0 0 2px 0.1px black;
}
.m1{
    background-color: rgba(177, 227, 227, 0.592);
}
th{
    border: 2em;
    background-color: rgba(177, 227, 227, 0.592);
}

td{
  width: 120px;
  border: 2em;
 
}
.l{
    color: red;
}
.m2{
    border:1px solid black;
    padding: 2px;
   
}
.q{
    /* border: 1px solid black; */
    background-color: rgba(175, 238, 238, 0.643);
    border-radius: 8px;
    font-size: 13px;
}
.l1{
    background-color: rgba(40, 212, 163, 0.591);
    border-radius: 8px;
    /* padding: 3px; */
    font-size: 13px;
   
}
.parent{
    margin: 40px;

}
>>>>>>> 23f077b927ce1d3b02065ffe2d7205e1a0bcc819
